*{
margin: 0;
padding: 0;
}


.mensajeria{
display: flex;
}

.contactos{
width: 20%;
border: solid black 1px;
}

.icon-color{
color: #a6acaf;
}

.iconos_contacto{
margin-top: 5%;
}

.chat{
border: green solid 3px;
width: 80%;
justify-content: center;
text-align: center;

}

.contacto_primario {
display: flex;
}
.contacto_primario > img{
border-radius: 50%;}

.contacto_primario_info{
border: solid yellow 2px;
display: flex; 
width: 100%;
justify-content: space-between;
}